notification-list.page {

    ion-content {
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        --background: none;
        //background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../../assets/images/bg_whoats.jpg') no-repeat center center / cover;
    }

    ion-list {
        padding: 0 var(--page-margin) !important;

        ion-item {
            //--highlight-color-valid: transparent;
            //--highlight-color-invalid: transparent;
            //--highlight-color-focused: var(--ion-color-light);
            //--inner-border-width: 0;
            --padding-start: 0 !important;
            --padding-end: 0 !important;
            --inner-padding-start: 0 !important;
            --inner-padding-end: 0 !important;
        }
    }


    ion-card {
        display: flex;
        justify-content: center;
        align-items: center;

        ion-card-content {
            box-shadow: 2px 2px 5px var(--ion-color-dark);
            background: var(--ion-color-light);
        }

        ion-card-title {
            color: var(--ion-color-primary);
            word-break: keep-all;
        }

        ion-label .time-label {
            //margin: 0.5rem 0;
            word-break: keep-all;
        }
    }

}
