<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button [color]="'light'"></ion-menu-button>
        </ion-buttons>
        <ion-title>我的通知</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openNotificationFormModal()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar class="filters-toolbar">
        <ion-row class="searchbar-row" align-items-center>
            <ion-col>
                <ion-searchbar class="items-searchbar" animated mode="ios" [(ngModel)]="searchQuery"
                               placeholder="Filter by title..."></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">
    <app-refresher (pull)="refreshContent($event)"></app-refresher>

    <section id="content-container">
        <ion-list class="items-list" *ngIf="globalVars.dataService.notification$ | async as items else emptyTemplate;">
            <ion-item *ngFor="let item of items | filterBy: ['title','release_time']: searchQuery"
                      [routerLink]="['/notifications', item.id]">
<!--                      (click)="firebaseService.updateNotification(item)">-->
                <ion-row>
                    <ion-col>
                        <div class="user-info">
                            <h3 class="user-name">
                                <app-text-shell animation="bouncing" [data]="item.title"></app-text-shell>
                            </h3>
                            <h5 class="user-age">
                                <app-text-shell animation="bouncing" [data]="globalVars.dateService.formatDateString(item.release_time)"></app-text-shell>
                            </h5>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>

        <ng-template #emptyTemplate>
            <div class="empty-vlist">
                暫無內容
                <span class="empty-label">
                    請下拉更新
                </span>
            </div>
        </ng-template>
    </section>
</ion-content>
