<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar [color]="'primary'">
        <ion-buttons slot="start">
            <ion-menu-button [color]="'light'"></ion-menu-button>
        </ion-buttons>
        <ion-title id="toolbar-title" class="bar-title">每日聖言</ion-title>
        <ion-buttons slot="end">
            <ion-toggle [color]="'danger'" (ionChange)="toggleList()"></ion-toggle>
            <ion-button [color]="'light'" (click)="selectTodayVerse()">所有</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">
    <ion-list>
        <ion-item *ngFor="let item of showingVerses; index as i;" [lines]="'none'" [detail]="false"
                  [id]="'verse_'+item.id" [routerLink]="['/verses', item.id]">
            <ion-label [id]="'label_'+item.id" [innerHTML]="formatItemTitle(item.date)"></ion-label>
            <ion-icon [name]="'chevron-forward-outline'" [slot]="'end'"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
