daily-verse-list.page {

    ion-content {
        --background: none;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../../assets/images/bg_verse.jpg') no-repeat center center / cover;
    }

    ion-list {
        padding: 0 !important;
    }

    ion-item {
        //--background: rgba(255,255,255,.5);
        margin: 0.3rem 0;
        border-top: 1px solid var(--ion-color-medium);
        border-bottom: 1px solid var(--ion-color-medium);
        color: var(--ion-color-text-white);
        font-weight: bold;

        ion-label {
            padding: 0.5rem !important;
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }
    }

    .day {
        font-size: 1.5rem;
    }

    .day.today {
        color: var(--ion-color-danger);
    }
    .day.tomorrow {
        color: var(--ion-color-warning);
    }

}
