<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="bar-title" [innerHTML]="globalVars.appPages[0].title"></ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" class="ion-no-border ion-no-margin ion-no-padding">
<!--    <ion-refresher id="refresher" slot="fixed" (ionRefresh)="refreshContent($event)">-->
<!--        <ion-refresher-content-->
<!--            [refreshingSpinner]="'circles'"-->
<!--            [refreshingText]="'我的心默默無聲，專等候神...'">-->
<!--        </ion-refresher-content>-->
<!--    </ion-refresher>-->

    <section>
        <ion-list class="inputs-list" lines="none">
            <ion-item class="input-item">
                <ion-label color="secondary" position="stacked">發佈時間：</ion-label>
                <ion-input type="text" name="release_time"
                           clearInput mask="0000-00-00 00:00:00"
                           (ionChange)="validateInputs('release_time')"></ion-input>
            </ion-item>
            <ion-item class="input-item">
                <ion-label color="secondary" position="stacked">隱藏時間：</ion-label>
                <ion-input type="text" name="expired_time"
                           clearInput mask="0000-00-00 00:00:00"
                           (ionChange)="validateInputs('expired_time')"></ion-input>
            </ion-item>
            <ion-item class="input-item">
                <ion-label color="secondary" position="stacked">背景顏色：</ion-label>
                <ion-input type="text" name="color"
                           clearInput prefix="#" mask="A{6}"
                           (ionChange)="validateInputs('color')"></ion-input>
            </ion-item>
            <ion-item class="toggle-item">
                <ion-label color="secondary" position="">立即可見：</ion-label>
                <ion-toggle color="secondary" [(ngModel)]="tempAlert.show"></ion-toggle>
            </ion-item>
            <ion-item class="content-item">
                <ion-label color="secondary" position="stacked">內容：</ion-label>
                <ion-textarea type="text" name="content" rows="15"
                              (ionChange)="validateInputs('content')"></ion-textarea>
            </ion-item>
        </ion-list>
    </section>
</ion-content>

<ion-footer>
    <ion-button [color]="'secondary'" [expand]="'block'" [fill]="'solid'" [shape]="'round'"
                [disabled]="!validateAlert()" (click)="updateAlert()">
        更新
    </ion-button>
</ion-footer>
