:host {
    width: 100% !important;

    ion-card.accordion {
        padding: 1rem !important;
        background: linear-gradient(rgba(255,255,255,.65), rgba(255,255,255,.65)) !important;
    }

    ion-card-header {
        margin: 0 !important;
        padding: 0 !important;
        color: var(--ion-color-primary);
        font-weight: bold;

        ion-row ion-col {
            padding: 0 !important;
        }
    }
    ion-card-content {
        visibility: visible;
        padding: 0.5rem 0 0 0 !important;
    }

    ion-row {
        width: 100% !important;
    }
    ion-col {
        //padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ion-label {
        word-break: break-all;
    }

    .active {
        display: block;
    }
    .inactive {
        display: none;
    }

    .item-title {
        font-size: 1.2rem;
    }
    .item-indicator {
        font-size: 1rem;
    }
    .item-subtitle, .item-content {
        color: var(--ion-color-text-white);
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .item-tag {
        font-weight: bold;
    }
    .item-button {
        float: right;
    }

}
