<ion-card class="log">
    <ion-card-header (click)="expand()">
        <ion-row>
            <ion-col>
                <ion-label class="item-title" [innerHTML]="_log?.timestamp"></ion-label>
                <div class="item-indicator">
                    <span [hidden]="!expanded">&#9650;</span>
                    <span [hidden]="expanded">&#9660;</span>
                </div>
            </ion-col>
        </ion-row>
    </ion-card-header>
    <ion-card-content [class]="expanded ? 'active' : 'inactive'">
        <div class="item-subtitle">
            <span class="item-tag">Device ID:</span><span [innerHTML]="_log?.device_id"></span>
        </div>
        <div class="item-subtitle">
            <span class="item-tag">Device Model:</span><span [innerHTML]="_log?.device_model"></span>
        </div>
        <div class="item-subtitle">
            <span class="item-tag">OS Version:</span><span [innerHTML]="_log?.os_version"></span>
        </div>
        <div class="item-subtitle">
            <span class="item-tag">Status:</span><span [innerHTML]="_log?.status"></span>
        </div>
    </ion-card-content>
</ion-card>
