<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<!--<form class="create-user-form ion-page" (ngSubmit)="importNotification()">-->
<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{page_title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider>
        <ion-segment [color]="'primary'" [mode]="'ios'" (ionChange)="segmentChanged($event)" [value]="currentView">
            <ion-segment-button [value]="'content'">
                <ion-label>內容</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="'setting'">
                <ion-label>設定</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-item-divider>

    <section [hidden]="currentView !== 'content'">
        <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
                <ion-label [color]="'master'" position="stacked">標題：</ion-label>
                <ion-input type="text" name="title"
                           (ionChange)="validateInputs('title')"></ion-input>
            </ion-item>
            <ion-item class="content-item">
                <ion-label [color]="'master'" position="stacked">內容：</ion-label>
                <ion-textarea type="text" name="content" class="content-box" [mode]="'ios'"
                              [rows]="15"
                              (ionChange)="validateInputs('content')"></ion-textarea>
            </ion-item>
        </ion-list>
    </section>
    <section [hidden]="currentView !== 'setting'">
        <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
                <ion-label [color]="'master'" position="stacked">發佈時間：</ion-label>
                <ion-input type="text" name="release_time"
                           clearInput mask="00-00 00:00"
                           (ionChange)="validateInputs('release_time')"></ion-input>
            </ion-item>
            <ion-item class="input-item">
                <ion-label [color]="'master'" position="stacked">隱藏時間：</ion-label>
                <ion-input type="text" name="expired_time"
                           clearInput mask="00-00 00:00"
                           (ionChange)="validateInputs('expired_time')"></ion-input>
            </ion-item>
            <ion-item class="input-item">
                <ion-label [color]="'master'" position="stacked">可見程度：</ion-label>
                <div>
                    <ion-label [color]="'master'" position="stacked">立即可見：</ion-label>
                </div>
                <div class="full-width">
                    <ion-segment [mode]="'ios'" (ionChange)="changeVisibility($event)" [value]="notification.show">
                        <ion-segment-button [value]="true">
                            <ion-label>是</ion-label>
                        </ion-segment-button>
                        <ion-segment-button [value]="false">
                            <ion-label>否</ion-label>
                        </ion-segment-button>
                    </ion-segment>
                </div>
            </ion-item>
            <ion-item class="input-item">
                <ion-label [color]="'master'" position="stacked">背景圖：</ion-label>
                <ion-input type="text" name="bg"
                           clearInput placeholder="../../../../assets/images/bg_sky.jpg"></ion-input>
            </ion-item>
        </ion-list>
    </section>
</ion-content>

<ion-footer>
    <ion-row class="form-actions-wrapper">
        <ion-col>
            <ion-button class="submit-btn" [color]="'danger'" [fill]="'solid'" [expand]="'block'"
                        (click)="clearContent()">
                清除
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button class="submit-btn" [color]="'success'" [fill]="'solid'" [expand]="'block'"
                        [disabled]="validateRequired()" (click)="importNotification()">
                {{btn_text}}
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
<!--</form>-->
