daily-verse-detail.page {

    ion-content {
        overflow: hidden;
        --background: none;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../../assets/images/bg_verse.jpg') no-repeat center center / cover;
    }

    ion-back-button.invisible {
        opacity: 0;
    }

    ion-card {
        margin: 0 20px !important;
        box-shadow: 0 0 0 0 !important;

        ion-card-header {
            --background:none;
        }
    }

    .inner-scroll {
        height: 100%;
    }

    .verse-card {
        z-index: 1;
        background: transparent;
    }

    ion-card-title {
        text-align: center;
        font-weight: bold;
        color: var(--ion-color-primary);
    }

    ion-card-content {
        color: var(--ion-color-text-black);
        ion-label {
            font-weight: bold;
            color: var(--ion-color-primary);
        }

        .verse-content {
            margin: 1rem 0;
            background: transparent;
        }
        .verse-location {
            text-align: right;
            word-break: keep-all;
        }
    }
}
