<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="'返回'" [defaultHref]="'/verses'"
                             [class.invisible]="checkEditStatus()"></ion-back-button>
        </ion-buttons>
        <ion-title class="bar-title">每日聖言</ion-title>
<!--        <ion-buttons slot="end">-->
<!--            <ion-button (click)="openVerseFormModal()">-->
<!--                編輯-->
<!--            </ion-button>-->
<!--        </ion-buttons>-->
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin ion-no-padding">
    <app-refresher (pull)="refreshContent($event)"></app-refresher>

    <section id="content-container">
        <ion-card class="verse-card">
            <ion-card-header>
                <ion-card-title [innerHTML]="formatDate(showingVerse.date)"></ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-label>每日經文</ion-label>
                <div class="verse-content" [innerHTML]="showingVerse.content"></div>
                <div class="verse-location" [innerHTML]="showingVerse.verse"></div>
            </ion-card-content>
        </ion-card>
    </section>
</ion-content>

<ion-footer class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar [color]="'primary'">
        <ion-grid>
            <ion-row>
                <ion-col (click)="openVerseFormModal()">
                    <ion-button class="vh-center" [color]="'light'" [expand]="'block'">
                        <ion-icon [slot]="'start'" [name]="'create'" [size]="'large'"></ion-icon>
                        修改
                    </ion-button>
                </ion-col>
                <ion-col (click)="updateVerse()" [hidden]="!globalVars.currentVerse.doc_id">
                    <ion-button class="vh-center"[color]="'danger'" [expand]="'block'">
                        <ion-icon [slot]="'start'" [name]="'add'" [size]="'large'"></ion-icon>
                        更新
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>


