@import "../../../../theme/mixins/inputs/checkbox-tag";

:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);

    --page-background-shade: var(--app-background-shade);
    --page-tags-gutter: 5px;
}

.form-content {
    --background: var(--page-background);

    .select-user-image-row {
        --ion-grid-column-padding: 0;

        padding: var(--page-margin);
        background-color: var(--page-background-shade);

        .user-image-col {
            margin: 0 auto;
            position: relative;

            .user-image {
                border-radius: 50%;
                border: solid 3px var(--ion-color-lightest);
            }
        }

        .change-image-btn {
            --border-radius: 50%;
            --padding-start: 0;
            --padding-end: 0;

            position: absolute;
            right: 0;
            bottom: var(--page-margin);
            z-index: 3;
            width: 4ch;
            height: 4ch;
            margin: 0;

            .btn-icon {
                font-size: 26px;
            }
        }
    }

    .fields-section {
        padding: var(--page-margin) 0;
        border-bottom: calc(var(--page-margin) * 2) solid var(--page-background-shade);

        .section-header {
            padding: 0 var(--page-margin);
            margin-top: 0;
            margin-bottom: var(--page-margin);
        }
    }

    .user-details-fields {
        .inputs-list {
            padding: 0 var(--page-margin);
        }

        .input-item {
            --padding-start: 0;
            --padding-end: 0;
            --inner-padding-start: 0;
            --inner-padding-end: 0;
        }
    }

    .user-experience-fields {
        .checkbox-tags {
            padding: 0 calc(var(--page-margin) - var(--page-tags-gutter));

            @include checkbox-tag();

            .checkbox-tag {
                padding: 0 var(--page-tags-gutter);
                margin: var(--page-tags-gutter) 0;
            }

            // Add a deeper selector to override default colors
            &.rounded-checkbox-tags {
                background-color: var(--ion-color-lightest);

                .checkbox-tag {
                    --border-width: 2px;
                    --border-style: solid;
                    --border-color: var(--ion-color-medium-shade);
                    --checkbox-tag-color: var(--ion-color-medium-shade);
                    --checkbox-tag-background: var(--ion-color-lightest);
                    --checkbox-tag-active-color: var(--ion-color-lightest);
                    --checkbox-tag-active-background: var(--ion-color-darkest);

                    &.item-checkbox-checked {
                        --border-color: var(--ion-color-darkest);
                    }
                }
            }
        }
    }

    .user-languages-fields {
        padding-bottom: 0;

        .range-item-row {
            --ion-grid-column-padding: 0;

            padding-top: var(--page-margin);
            padding-inline-start: var(--page-margin);
            padding-inline-end: var(--page-margin);
            // box-shadow at the top
            box-shadow: inset 0 6px 3px -8px var(--ion-color-darkest);

            .range-header {
                display: flex;
                justify-content: space-between;
                padding-bottom: calc(var(--page-margin) / 2);

                .range-value {
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 0.2px;
                    color: var(--ion-color-medium-shade);
                }

                .range-label {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    color: var(--ion-color-medium-shade);
                }
            }

            .range-control {
                // override the pin color
                --ion-text-color: var(--ion-color-medium-shade);

                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}

.form-actions-wrapper {
    --ion-grid-column-padding: calc(var(--page-margin) / 2);
    background: var(--ion-color-light);
    padding: calc(var(--page-margin) / 2);

    .submit-btn {
        margin: 0;
    }
}


/* ==================================================================================================== */
/* Custom */

section {
    border: 0 !important;
}

ion-label {
    margin: 0 !important;
    padding: 0 !important;
}

ion-list {
    padding: 0 var(--page-margin) !important;
    background: var(--ion-color-light);
}

ion-item {
    --background: var(--ion-color-light);
    color: var(--ion-color-dark);
}

ion-segment-button {
    --indicator-color: var(--ion-color-primary) !important;
}

ion-segment-button.segment-button-checked {
    --background: var(--ion-color-primary) !important;
    color: var(--ion-color-light) !important;;
}

.segment-item {
    --padding-start: 0 !important;
    --padding-end: 0;
    --inner-padding-start: 0 !important;
    --inner-padding-end: 0;
}

//ion-item [disabled] {
//    opacity: 1 !important;
//}
//.item-interactive-disabled ion-label {
//    opacity: 1 !important;
//}
