<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title [innerHTML]="verse.date"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="form-content">
    <section class="user-details-fields fields-section">
        <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item" [hidden]="true">
                <ion-label [color]="'danger'" position="stacked">發佈時間：</ion-label>
                <ion-input type="text" name="release_time"
                           clearInput mask="0000-00-00 00:00:00"
                           (ionChange)="validateInputs('release_time')"></ion-input>
            </ion-item>
            <ion-item class="input-item" [hidden]="true">
                <ion-label [color]="'danger'" position="stacked">隱藏時間：</ion-label>
                <ion-input type="text" name="expired_time"
                           clearInput mask="0000-00-00 00:00:00"
                           (ionChange)="validateInputs('expired_time')"></ion-input>
            </ion-item>
            <ion-item class="segment-item">
                <ion-segment [mode]="'ios'">
                    <ion-segment-button id="btn-edit" [value]="'edit'" (click)="changeMode($event)">
                        <ion-label>修改</ion-label>
                    </ion-segment-button>
                    <ion-segment-button id="btn-replace" [value]="'replace'" (click)="changeMode($event)">
                        <ion-label>更換</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
            <ion-item class="input-item">
                <ion-label [color]="'danger'" position="stacked">經文內容：</ion-label>
                <ion-textarea type="text" name="content" rows="12"
                              [clearOnEdit]="true"
                              [autoGrow]="true"
                              (ionChange)="validateInputs('content')"></ion-textarea>
            </ion-item>
            <ion-item class="input-item">
                <ion-label [color]="'danger'" position="stacked">經文章節：</ion-label>
                <ion-input type="text" name="verse" clearInput></ion-input>
            </ion-item>
        </ion-list>
    </section>
</ion-content>

<ion-footer>
    <ion-row class="form-actions-wrapper">
        <ion-col>
            <ion-button class="submit-btn" [color]="'danger'" [fill]="'solid'" [expand]="'block'"
                        [disabled]="validateRequired()" (click)="updateVerse()">
                修改
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
