@import "../../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-related-users-gutter: calc(var(--page-margin) / 2);
}

ion-content {
    overflow: hidden;
    --background: none;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../../assets/images/bg_sky.jpg') no-repeat center center / cover;
}

ion-list.collection-list {
    height: 100%;
}

/* ==================================================================================================== */
/* FONT SIZE */

@media (max-width: 374px) {
    .title {
        font-size: 1.5rem;
    }
    .time {
        font-size: 1.2rem;
    }
}

@media (min-width: 375px) {
    .title {
        font-size: 1.8rem;
    }
    .time {
        font-size: 1.5rem;
    }
}

@media only screen
and (min-device-width : 375px) and (max-device-width : 375px)
and (min-device-height : 812px) and (min-device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .title {
        font-size: 1.8rem;
    }
    .time {
        font-size: 1.5rem;
    }
}
