<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/monitors'"></ion-back-button>
        </ion-buttons>
        <ion-title [innerHTML]="monitor_key"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content id="main-content">
    <app-refresher (pull)="refreshContent($event)"></app-refresher>

    <section id="content-container">
        <ion-list class="collection-list">
            <ion-item *ngFor="let item of logCollection | orderBy: '-timestamp'">
                <log-accordion [log]="item"></log-accordion>
            </ion-item>
        </ion-list>
<!--        <ion-list class="collection-list">-->
<!--            <ng-container [ngTemplateOutlet]="(true) ? defaultTemplate : emptyTemplate"></ng-container>-->
<!--            <ng-template #defaultTemplate>-->
<!--                <ng-container *ngFor="let collection of logCollection | groupBy: 'log_date' | pairs">-->
<!--                    <ion-list-header>-->
<!--                        <ion-label [innerHTML]="collection[0] | orderBy: '-'"></ion-label>-->
<!--                    </ion-list-header>-->
<!--                    <ion-item *ngFor="let item of collection[1] | orderBy: '-timestamp'">-->
<!--                        <log-accordion [log]="item"></log-accordion>-->
<!--                    </ion-item>-->
<!--                </ng-container>-->
<!--            </ng-template>-->
<!--            <ng-template #emptyTemplate>-->
<!--                <div class="empty-list">-->
<!--                    暫無記錄-->
<!--                </div>-->
<!--            </ng-template>-->
<!--        </ion-list>-->
    </section>
</ion-content>
