<p class="refresher-container">
    <ion-refresher id="refresher" slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content
            [pullingIcon]="'arrow-down'"
            [pullingText]="'請拉下更新'"
            [refreshingSpinner]="'circles'"
            [refreshingText]="'我的心默默無聲，專等候神...'">
        </ion-refresher-content>
    </ion-refresher>
</p>
