<ion-header class="ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button [color]="'light'"></ion-menu-button>
        </ion-buttons>
        <ion-title class="bar-title" [innerHTML]="globalVars.appPages[0].title"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" class="ion-no-margin ion-no-padding">
    <app-refresher (pull)="refreshContent($event)"></app-refresher>

    <section id="content-container" *ngIf="globalVars.dataService.alert$ | async">
        <ion-item-group class="alert-top">
            <alert-item [show]="alertTop.show" [content]="alertTop.content" [bgColor]="alertTop.color"></alert-item>
            <ion-label>
                置頂訊息<span (click)="editAlert('top')"><ion-icon slot="icon-only" name="create"></ion-icon></span>
            </ion-label>
        </ion-item-group>

        <ion-note [innerHTML]="timestamp"></ion-note>

        <ion-item-group class="alert-bottom">
            <ion-label>
                置底訊息<span (click)="editAlert('bottom')"><ion-icon slot="icon-only" name="create"></ion-icon></span>
            </ion-label>
            <alert-item [show]="alertBottom.show" [content]="alertBottom.content" [bgColor]="alertBottom.color"></alert-item>
        </ion-item-group>
    </section>
</ion-content>
