alert-preview.page {

    ion-content {
        overflow: hidden;
        --background: none;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../../assets/images/bg_verse.jpg') no-repeat center center / cover;
    }

    section {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    ion-item-group {
        width: 100%;

        ion-label {
            font-size: 24px !important;
        }

        span {
            vertical-align: middle;
        }
    }

    ion-label, ion-note {
        width: 100%;
        font-weight: bold;
        text-align: center;
        color: var(--ion-color-dark) !important;
        //background: var(--ion-color-danger);
    }

    .alert-indicator {
        img {
            width: 100% !important;
        }
    }

}
