/* ==================================================================================================== */
/* Component Scss */

ion-menu ion-header ion-toolbar {
    background: var(--ion-color-primary);
}

ion-title {
  font-weight: 400;
  letter-spacing: 0.4px;
}

ion-refresher {
    background-color: var(--ion-color-refresher-background);
    color: var(--ion-color-text-black);
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center center;
    height: 100%;
    z-index: 5;
}

.refresher-refreshing-icon > ion-spinner {
}
.refresher-refreshing-text {
    font-weight: bold;
    font-size: 1.4rem;
}

ion-toolbar ion-searchbar {
    padding: 0 !important;
}

ion-list {
    margin: 0 !important;
    padding: 0 !important;
    background: transparent !important;
    //overflow: hidden;
}

ion-list-header {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--ion-color-primary);

    ion-label {
        margin: 0 !important;
        padding: 0.5rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

ion-item {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: var(--ion-color-light);
}

ion-item-divider {
    background: transparent;
    padding: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
}

section#content-container {
    height: 100%;
}

/* ==================================================================================================== */
/* Custom Class Scss */

app-image-shell.rounded-image {
    --image-shell-loading-background: rgba(var(--ion-color-light-rgb), 0.15);
    --image-shell-border-radius: 50%;
}

.full-width {
    width: 100%;
}

.menu-detail-icon {
    color: var(--ion-color-lightest) !important;
    opacity: 1 !important;
}

.bar-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.alert-confirmation {
    button.danger {
        background: var(--ion-color-danger);
        color: var(--ion-color-light);
    }
}

.main-indicator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--ion-color-primary);
    color: var(--ion-color-light);
    font-size: 24px;
    padding: 10px 0;
}

.alert-indicator {
    padding: 0.5rem;
    background: var(--ion-color-danger);
    color: var(--ion-color-text-white);
    word-break: break-all;

    a {
        color: var(--ion-color-text-link) !important;
    }

    img {
        width: 100% !important;
    }
}

.caution {
    color: var(--ion-color-danger) !important;
}

.primary {
    color: var(--ion-color-primary) !important;
}

.empty-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-primary);
    font-size: 3rem;
    font-weight: bold;
}
.empty-vlist {
    @extend .empty-list;
    flex-direction: column;
}
.empty-label {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
}
