<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-row class="user-details-wrapper">
                        <ion-col [size]="4">
                            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                                <app-image-shell class="rounded-image" [src]="'../assets/icons/ic_wkphc.png'"></app-image-shell>
                            </app-aspect-ratio>
                        </ion-col>
                        <ion-col [size]="8" class="user-info-wrapper">
                            <h3 class="user-name">App Master</h3>
                            <h5 class="user-handle">@WKPHC IT Team</h5>
                        </ion-col>
                    </ion-row>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-list-header>管理</ion-list-header>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of globalVars.appPages; let i = index">
                        <ion-item [routerLink]="p.url"
                                  [class.selected]="selectedIndex == i"
                                  (click)="selectedIndex = i"
                                  [detail]="false">
                            <ion-icon [slot]="'start'" [src]="p.icon"></ion-icon>
                            <ion-label [innerHTML]="p.title"></ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
<!--                <ion-list id="inbox-list">-->
<!--                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">-->
<!--                        <ion-item (click)="selectedIndex = i" routerDirection="root"-->
<!--                                  [routerLink]="[p.url]" lines="none" detail="false"-->
<!--                                  [class.selected]="selectedIndex == i">-->
<!--                            <ion-icon slot="start" [ios]="p.icon + '-outline'"-->
<!--                                      [md]="p.icon + '-sharp'"></ion-icon>-->
<!--                            <ion-label>{{ p.title }}</ion-label>-->
<!--                        </ion-item>-->
<!--                    </ion-menu-toggle>-->
<!--                </ion-list>-->
            </ion-content>
        </ion-menu>
        <ion-router-outlet [swipeGesture]="false" id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
