alert-edit.page {

    ion-content {
        overflow: hidden;
        --background: none;
    }

    section {
        height: 100%;
    }

    ion-list {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    ion-item {
        width: 100%;
    }
    ion-item.content-item {
        //display: flex;
        //flex: 1 1 auto;

        //textarea {
        //    height: 100%;
        //    padding: 0 !important;
        //}
    }

}
