@import "../../../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-fair-margin);
  --page-background: var(--app-background);

  --page-related-users-gutter: calc(var(--page-margin) / 2);
}

ion-content {
    overflow: hidden;
    --background: none;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../../assets/images/bg_sky.jpg') no-repeat center center / cover;
}

.header-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1.5rem;

    .title {
        justify-content: center;
        color: var(--ion-color-primary);
        font-weight: bold;
    }
}

.content-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;

    .image {
        width: 30vh;
    }

    .content {
        padding: 0.5rem 0;
        color: var(--ion-color-text-black);
        word-break: break-all;
    }
}

/* ==================================================================================================== */
/* FONT SIZE */

@media (max-width: 374px) {
    .title {
        font-size: 1.5rem;
    }
    .time {
        font-size: 1.2rem;
    }
}

@media (min-width: 375px) {
    .title {
        font-size: 1.8rem;
    }
    .time {
        font-size: 1.5rem;
    }
}

@media only screen
and (min-device-width : 375px) and (max-device-width : 375px)
and (min-device-height : 812px) and (min-device-height : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .title {
        font-size: 1.8rem;
    }
    .time {
        font-size: 1.5rem;
    }
}
