<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/notifications'"></ion-back-button>
        </ion-buttons>
        <ion-title>通知內容</ion-title>
<!--        <ion-buttons slot="end">-->
<!--            <ion-button (click)="openNotificationFormModal()">-->
<!--                編輯-->
<!--            </ion-button>-->
<!--        </ion-buttons>-->
    </ion-toolbar>
</ion-header>

<ion-content id="main-content">
    <app-refresher (pull)="refreshContent($event)"></app-refresher>

    <section id="content-container">
        <section class="header-section">
            <div class="title" [innerHTML]="notification.title"></div>
        </section>
        <section class="content-section">
            <div class="image">
                <img class="icon" *ngIf="notification.src" [src]="notification.src" alt="">
            </div>
            <div class="content" [innerHTML]="notification.content"></div>
        </section>
    </section>
</ion-content>

<ion-footer class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar [color]="'primary'">
        <ion-grid>
            <ion-row>
                <ion-col (click)="openNotificationFormModal()">
                    <ion-button class="vh-center" [color]="'light'" [expand]="'block'">
                        <ion-icon [slot]="'start'" [name]="'create'" [size]="'large'"></ion-icon>
                        修改
                    </ion-button>
                </ion-col>
                <ion-col (click)="updateNotification()" [hidden]="!globalVars.currentNotification.doc_id">
                    <ion-button class="vh-center"[color]="'danger'" [expand]="'block'">
                        <ion-icon [slot]="'start'" [name]="'add'" [size]="'large'"></ion-icon>
                        更新
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
