:host {

    ion-content {
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
        --background: none;
    }

    ion-list {
        padding: 0 var(--page-margin) !important;

        ion-item {
            --padding-start: 0 !important;
            --padding-end: 0 !important;
            --inner-padding-start: 0 !important;
            --inner-padding-end: 0 !important;
        }
        ion-row {
            width: 100% !important;
            ion-col {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }

}
