<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button [color]="'light'"></ion-menu-button>
        </ion-buttons>
        <ion-title class="bar-title" [innerText]="globalVars.appPages[3].title"></ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="clearOldLogs()">
                <ion-icon [name]="'cloud-offline-outline'" [color]="'light'"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">
    <app-refresher (pull)="refreshContent($event)"></app-refresher>

    <section id="content-container">
        <ion-list class="items-list" *ngIf="globalVars.dataService.logs$ | async as items else emptyTemplate;">
            <ion-item *ngFor="let item of items; index as i;" [detail]="false"
                      (click)="openDetail(item, i)">
                <ion-row>
                    <ion-col>
                        <h3><ion-label [innerHTML]="formatHeader(item['key'])"></ion-label></h3>
                        <h3><ion-label [innerHTML]="formatAmount(item['values'].length)"></ion-label></h3>
                    </ion-col>
                </ion-row>
                <ion-icon [name]="'chevron-forward-outline'" [slot]="'end'"></ion-icon>
            </ion-item>
        </ion-list>

        <ng-template #emptyTemplate>
            <div class="empty-vlist">
                暫無內容
                <span class="empty-label">
                    請下拉更新
                </span>
            </div>
        </ng-template>
    </section>
</ion-content>
