<ion-header class="ion-no-border ion-no-margin ion-no-padding">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button [color]="'light'"></ion-menu-button>
        </ion-buttons>
        <ion-title class="bar-title" [innerHTML]="globalVars.appPages[3].title"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" class="ion-no-margin ion-no-padding">
    <app-refresher (pull)="refreshContent($event)"></app-refresher>

<!--    <ion-item-divider [sticky]="true">-->
<!--        <ng-container>-->
<!--            <ion-label [innerHTML]="'會友版（News）'"></ion-label>-->
<!--        </ng-container>-->
<!--    </ion-item-divider>-->
<!--    <ion-list class="ion-no-padding">-->
<!--        <ion-item *ngFor="let item of globalVars.dataService.stagingAlerts$ | async | filterBy: ['position']: '_'; index as i;" [lines]="'none'" [detail]="false"-->
<!--                  [id]="'pool_'+item.id">-->
<!--            <ion-label [id]="'label_'+item.id" [innerHTML]="formatItemTitle(item)" (click)="runPool(item)"-->
<!--                       [ngStyle]="formatBackground(item['color'])"></ion-label>-->
<!--            <ion-toggle [color]="'danger'" (ionChange)="togglePool(item)" [checked]="item.show"></ion-toggle>-->
<!--            <ion-icon [name]="'chevron-forward-outline'" [slot]="'end'"></ion-icon>-->
<!--        </ion-item>-->
<!--    </ion-list>-->

    <ion-item-divider [sticky]="true">
        <ng-container>
            <ion-label [innerHTML]="'Alerts'"></ion-label>
        </ng-container>
    </ion-item-divider>
    <ion-list class="ion-no-padding">
        <ion-item *ngFor="let item of globalVars.dataService.stagingAlerts$ | async; index as i;" [lines]="'none'" [detail]="false"
                  [id]="'pool_'+item.id">
            <ion-label [id]="'label_'+item.id" [innerHTML]="formatItemTitle(item)" (click)="runUpdate(item)"
                       [ngStyle]="formatBackground(item['color'])"></ion-label>
            <ion-toggle [color]="'danger'" (ionChange)="togglePool(item)" [checked]="item.show"></ion-toggle>
            <ion-icon [name]="'chevron-forward-outline'" [slot]="'end'"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-item-divider [sticky]="true">
        <ng-container>
            <ion-label [innerHTML]="'Meetings'"></ion-label>
        </ng-container>
    </ion-item-divider>
    <ion-list class="ion-no-padding">
        <ion-item *ngFor="let item of globalVars.dataService.stagingMeeting$ | async; index as i;" [lines]="'none'" [detail]="false"
                  [id]="'pool_'+item.id">
            <ion-label [id]="'label_'+item.id" [innerHTML]="formatItemTitle(item)" (click)="runUpdate(item)"
                       [ngStyle]="formatBackground(item['color'])"></ion-label>
            <ion-toggle [color]="'danger'" (ionChange)="togglePool(item)" [checked]="item.show"></ion-toggle>
            <ion-icon [name]="'link'" [slot]="'end'" (click)="updateRebrandly(item)"></ion-icon>
            <ion-icon [name]="'chevron-forward-outline'" [slot]="'end'"></ion-icon>
        </ion-item>
<!--        <div [innerHTML]="preview"></div>-->
    </ion-list>

<!--    <ion-item-divider [sticky]="true">-->
<!--        <ng-container>-->
<!--            <ion-label [innerHTML]="'Admin版（Meetings）'"></ion-label>-->
<!--        </ng-container>-->
<!--    </ion-item-divider>-->
<!--    <ion-list class="ion-no-padding">-->
<!--        <ion-item *ngFor="let item of globalVars.dataService.pool$ | async | filterBy: ['category']: ['news','main'] | filterBy: ['doc_id']: ''; index as i;" [lines]="'none'" [detail]="false"-->
<!--                  [id]="'pool_'+item.id">-->
<!--            <ion-label [id]="'label_'+item.id" [innerHTML]="formatItemTitle(item)" (click)="runPool(item)"-->
<!--                       [ngStyle]="formatBackground(item['color'])"></ion-label>-->
<!--            <ion-toggle [color]="'danger'" (ionChange)="togglePool(item)" [checked]="item.show"></ion-toggle>-->
<!--            <ion-icon [name]="'chevron-forward-outline'" [slot]="'end'"></ion-icon>-->
<!--        </ion-item>-->
<!--    </ion-list>-->

<!--    <section id="content-container" *ngIf="globalVars.dataService.pool$ | async">-->
<!--        <ion-item-group class="alert-top">-->
<!--            <alert-item [show]="alertTop.show" [content]="alertTop.content" [bgColor]="alertTop.color"></alert-item>-->
<!--            <ion-label>-->
<!--                置頂訊息<span (click)="editAlert('top')"><ion-icon slot="icon-only" name="create"></ion-icon></span>-->
<!--            </ion-label>-->
<!--        </ion-item-group>-->

<!--        <ion-note [innerHTML]="timestamp"></ion-note>-->

<!--        <ion-item-group class="alert-bottom">-->
<!--            <ion-label>-->
<!--                置底訊息<span (click)="editAlert('bottom')"><ion-icon slot="icon-only" name="create"></ion-icon></span>-->
<!--            </ion-label>-->
<!--            <alert-item [show]="alertBottom.show" [content]="alertBottom.content" [bgColor]="alertBottom.color"></alert-item>-->
<!--        </ion-item-group>-->
<!--    </section>-->
</ion-content>
