pool-list.page {

    ion-content {
        overflow: hidden;
        --background: none;
        background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../../../../assets/images/bg_road.jpg') no-repeat center center / cover;
    }

    ion-list {
        padding: 0 !important;
    }

    ion-item {
        margin: 0.3rem 0;
        border-top: 1px solid var(--ion-color-medium);
        border-bottom: 1px solid var(--ion-color-medium);
        color: var(--ion-color-text-white);
        font-weight: bold;

        ion-label {
            padding: 0.5rem !important;
            display: flex !important;
            justify-content: space-between;
            align-items: center;
        }
    }
    ion-item:first-child,
    ion-item:last-child {
        margin: 0;
    }

    ion-refresher ion-refresher-content {
        color: var(--ion-color-dark);

        .refresher-pulling-text, .refresher-refreshing-text,
        .refresher-refreshing-icon, .refresher-pulling-icon,
        ion-spinner {
            color: var(--ion-color-dark);
        }
    }

    //section {
    //    height: 100%;
    //    display: flex;
    //    justify-content: space-between;
    //    align-items: center;
    //    flex-direction: column;
    //}
    //
    //ion-item-group {
    //    width: 100%;
    //
    //    ion-label {
    //        font-size: 24px !important;
    //    }
    //
    //    span {
    //        vertical-align: middle;
    //    }
    //}
    //
    ion-item-divider {
        background-color: var(--ion-color-block-background);
    }

    ion-label, ion-note {
        width: 100%;
        font-weight: bold;
        text-align: center;
        color: var(--ion-color-primary) !important;
        //background: var(--ion-color-danger);
    }

    ion-item ion-label {
        color: var(--ion-color-light) !important;
    }
    //
    //.alert-indicator {
    //    img {
    //        width: 100% !important;
    //    }
    //}

}
